@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,600&display=swap");
* {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
  max-width: 1200px;
  background: linear-gradient(236.85deg, #041832 27.26%, #3468a7 96.03%);
  font-family: "Roboto", sans-serif;
}

.container {
  padding: 64px;
  background: #ecf4ff;
  color: #1c1c1d;
  border-radius: 20px;
  margin: 80px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.perfil {
  display: flex;
}

.perfil-foto {
  max-height: 160px;
  border-radius: 460px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.titulo {
  margin-left: 20px;
}
.titulo h1 {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 0px;
}
.titulo h3 {
  font-weight: 400;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.tema button {
  align-self: flex-end;
  font-size: 18px;
  font-weight: 400;
  padding: 6px 12px;
  background: #fcfcfc;
  border: 3px solid #1c1c1c;
  border-radius: 100px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.icones-perfil {
  margin: 3px;
  font-size: 30px;
  text-decoration: none;
  color: linear-gradient(87.85deg, #4be1ec 6.26%, #9055ff 6.03%);
  transition: color 0.2s;
}
.icones-perfil :hover {
  color: #4be1ec;
}

.projetos {
  margin-top: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
}
.projetos a {
  font-size: 1.1em;
  color: #fcfcfc;
  font-weight: 500;
}
.projetos a:hover {
  color: #000;
  font-weight: 500;
}
.projetos h2 {
  font-size: 1.5em;
  color: #fcfcfc;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 25px;
}
.projetos p {
  font-size: 1.1em;
  color: #fcfcfc;
  margin-bottom: 10px;
  margin-top: 40px;
}

.dark {
  background: linear-gradient(236.85deg, #375b86 27.26%, #6b87a9 96.03%);
}
.dark .projetos {
  background: linear-gradient(236.85deg, #375b86 27.26%, #6b87a9 96.03%);
}
.dark .container {
  background: #333439;
  color: #f6f6f6;
}
.dark .icones-perfil {
  color: #6699ff;
}
.dark .tema button {
  background: #1c1c1c;
  color: #fcfcfc;
  border: 3px solid #fcfcfc;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 100px;
  height: 50px;
  background: #333439;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: #4be1ec;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 90px;
}